/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header ************/
header{
    margin-top: 20px;
    margin-left: 20px;
}

.entete{
    margin-bottom: 50px;
    display: flex;
}

.entete .logo{
    width: 80%;
}


.entete .logo img{
    width: 80px;
}

.entete .lien{
    width: 20%;
    display: flex;
    list-style-type: none;
    margin-top: 0;
}


.lien a {
    position: relative;
    
}

.lien a:hover{
    color: #0065FC;
}

.lien a:hover::before{
    content: '';
    background-color: #0065FC;
    height: 3px;
    width: 100%;
    top: -20px;
    left: 0;
    position: absolute;
}


.lien .lien-un{
    margin-right: 50px;
    
}

/*******1ère section *******/

.rechercher{
    margin-left: 20px;
}

.rechercher .barre{
    background-color:var(--main-bg-color);
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
}

.barre .bouton-recherche{
   color: white;
   background-color: #0065FC;
   border-style: solid;
   border-color: #0065FC;
   border-radius: 0px 10px 10px 0px;
   padding: 10px;
   font-weight: bold;
   font-size: 20px;
}

.barre i{
    color: black;
}

.barre .loupe{
    color: white;
   background-color: #0065FC;
   border-style: solid;
   border-color: #0065FC;
   border-radius: 20px;
   padding: 10px;
   font-weight: bold;
   font-size: 20px;
    display: none;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.12);
}

.loupe i{
    color: white;
}

.rechercher .barre input{
    border-color: white;
    font-family: 'Raleway';
    border-style: solid;
    font-weight: bold;
    padding: 12px 12px 12px 12px;
}

.rechercher .barre .fa-location-dot{
    padding-left: 15px;
    margin-right: 15px;
}

    
.filtres{
    display: flex;
    margin-top: 30px; 
}

.filtres h3{
    margin-right: 20px;
}

.filtres button{
    font-weight: bolder;
    font-size: medium;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    border:  3px solid #F2F2F2;
    border-radius: 40px;
    padding: 10px;
}

.filtres i{
    margin-right: 5px;
}



.filtres button:hover{
    background-color: #F2F2F2;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info i{
    border: solid 2px #F2F2F2;
    border-radius: 50%;
    padding: 2px 7px 3px 7px;
    margin-right: 10px;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
   margin-top: 33px;
   display: flex;
   justify-content: space-between;
}

.hebergements-cards a{
    flex: 1;
    margin: 0 5px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******Activités********/

.activites{
    margin: 0 0 50px 0;
    padding-top: 50px;
}

.activites-cards{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    height: 350px;
}

.activites-cards a{
    height: 100%;
    width: 22%;
}

.activites-cards .card{
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.activites-cards .card img{
    width: 350px;
    height: 85%;

}

.activites-cards .card h3{
    padding-left: 10px;
    
}


/******Footer*******/
footer{
    background-color: #F2F2F2;
}

footer nav{
    display: flex;
}

footer ul{
    list-style-type: none;
    width: 33%;
}

footer li{
    margin: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****HEADER****/

    .entete .logo{
        width: 75%;
    }

    .entete .lien{
       width: 25%;
    }
    .lien .lien-un{
        margin-right: 30px;
        
    }

    /*****Recherche et Filtres*****/

    .filtres{
        flex-direction: column;
    }


    /*****Hebergement et populaire*****/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****Activité****/

    .activites-cards{
        height: 300px;
    }

    .activites-cards .card img{
        height: 75%;
        object-position: -70px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        padding: 0;
        margin: 0;
        background-color: #F2F2F2;
    }

    .main-container{
        padding: 0;
    }

    /****header****/

    header{
        margin: 0;
        padding: 0;
        background-color: white;
    }

    .entete{
        flex-direction: column;
        padding-top: 5px;
        margin: 0;
        text-align: center;
    }

    .entete li{
        width: 100%;
        margin-top: 20px;
        font-size: larger;
        border-bottom: solid 2px #F2F2F2;
        padding: 30px 0 15px 0;
    }

    .entete ul{
        margin: 0;
    }


    .entete .logo{
        padding: 30px 0 0 0;
        margin: 0;
      
        width: 100%;
    }

    .entete .lien{
        width: 100%;
        padding-left: 0;
    }

    .lien .lien-un{
        margin: 0;
    }

    .lien a:hover::before{
        display: none;
    }

    .lien li:hover{
        border-bottom: solid 2px #0065FC;
        color: #0065FC;
    }
    
    
    .recherche-et-filtre{
        background-color: white;
    }

    .rechercher{
        margin: 0;
        padding: 20px 0 0 5%;
        width: 95%;
    }

    .rechercher h1{
        margin: 0;
    }

    .barre{
        width: 95%;
        max-width: 350px;
    }

    .barre .fa-location-dot{
        width: 5%;
    }


    .barre input{
        width: 60%;
    }

    .barre .bouton-recherche{
        display: none;
    }

    .barre .loupe{
        display: block;
        width: 20%;
        text-align: center;
    }

    .filtres button{
        margin-right: 0;
        width: 170px;
    }
   
    /****Hebergement-et-populaire****/


    .hebergements-and-populaires {
        flex-direction: column-reverse;

    }

    .hebergements-and-populaires section{
        padding: 0;
        border-radius: 0;
    
    }

    /* Populaire */
    
     .populaires{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .populaires .populaires-title{
        width: 90%;
    }

    .populaires-cards{
        flex-direction: column;
        width: 90%;
    }

    .populaires-cards .card{
        width: 100%;
        height: 125px;
        margin: 0;
    }

    .populaires-cards a{
        margin-top: 20px;
    }

    .populaires-cards img{
        width: 35%;
        height: 100%;
        object-fit: cover;
    }

    .populaires-cards .card-content{
        width: 65%;
    }

    .populaires-cards a{
        width: 100%;
    }

    /****Hebergement****/

    .hebergements-and-populaires .hebergements{
        background-color: white;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hebergements h2{
        width: 90%;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .hebergements-cards{
        flex-direction: column;
        width: 90%;
        margin-top: 0;
    }

    .hebergements-cards a{
        margin: 0 0 20px 0;
    }

    .hebergements p{
        width: 90%;
    }



    /****Activités****/


    .activites{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activites h2{
        width: 85%;
        margin-top: 0;
        padding-top: 20px;
    }

    .activites-cards{
        flex-direction: column;
        height: 1100px;
        width: 85%;
    }
    
    .activites-cards .card{
        width: 100%;
        height: 250px;
        overflow: hidden;
        padding: 0;
    }

    .activites-cards a{
        margin-bottom: 40px;
        width: 100%;
    }

    .activites-cards .card img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-position: 0;
        margin: 0;
    }

    .activites-cards .card h3{
        margin: 10px 0 0 0;
    }

    /****Footer****/

    footer{
        margin: 0;
        padding: 0;
    }

    footer nav{
        flex-direction: column;
    }

    footer ul{
       width: 80%;
    }
}